<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/pure-release-0.6.0/pure-min.css">
  <link rel="stylesheet" href="/css/application.css">

  <title>One Shot</title>
</head>

<body>
  <%= erb :_header %>
  <%= yield %>
  <%= erb :_footer %>
  <% if @single_page %>
    <script src="<%= jquery_url %>"></script>
    <script src="<%= jquery_ui_url %>"></script>
    <script src="/js/menuBars.js"></script>
    <script src="/js/itemList.js"></script>
    <script src="/js/itemSet.js"></script>
    <script src="/js/application.js"></script>
  <% end %>
</body>
</html>
